@using Bifrost.Client.Features.Portals.Shared

@page "/"

@* @attribute [Authorize] *@
@rendermode InteractiveAuto

<PageTitle>Bifrost</PageTitle>

<div class="container">
    <div class="row">
        <PortalSearch />
    </div>
    <div class="row">
        <div class="col-12">
            <Headline Text="Recent" />
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-inline-flex">
            <Portal Id="1" Name="GTM" CurrentInstances="0" MaxInstances="2" DefinedPorts="1" OnPortaClicked="OnPortalClicked" />
            <Portal Id="2" Name="Glassline" CurrentInstances="1" MaxInstances="3" DefinedPorts="2" OnPortaClicked="OnPortalClicked" />
            <Portal Id="3" Name="SWS" CurrentInstances="1" MaxInstances="1" DefinedPorts="3" OnPortaClicked="OnPortalClicked" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <Headline Text="Favorites" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <Headline Text="Browse" />
        </div>
    </div>
</div>

@code {
    public void OnPortalClicked(PortalEventArgs e)
    {
        Console.WriteLine("Portal clicked");
    }
}