@using Bifrost.Client.Features.Portals.Shared

@page "/"

@attribute [Authorize]
@rendermode InteractiveAuto

<PageTitle>Bifrost</PageTitle>

<div class="container">
    <div class="row">
        <PortalSearch />
    </div>
    <div class="row">
        <div class="col-12">
            <Headline Text="Recent" />
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-inline-flex">
            <Portal Name="GTM" CurrentInstances="0" MaxInstances="2" DefinedPorts="1" />
            <Portal Name="Glassline" CurrentInstances="1" MaxInstances="3" DefinedPorts="2" />
            <Portal Name="SWS" CurrentInstances="1" MaxInstances="1" DefinedPorts="3" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <Headline Text="Favorites" />
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <Headline Text="Browse" />
        </div>
    </div>
</div>