.login-page {
  height: 100vh;
}

.login-dialog-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.logo {
  z-index: 2;
  position: absolute;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.logo img {
  filter: invert(9%) sepia(13%) saturate(13%) hue-rotate(325deg) brightness(98%) contrast(84%);
}
@media (max-width: 576px) {
  .logo {
    width: 300px;
  }
}
@media (max-width: 400.98px) {
  .logo {
    width: 250px;
  }
}

.theme-toggle {
  position: absolute;
  top: 0;
  right: 0;
  margin: 10px;
  z-index: 2;
}