<div class="bifrost-background">
    <span class="circle midgard"></span>
    <span class="circle vanaheim"></span>
    <span class="circle hel"></span>
    <span class="circle alfheim"></span>
    <span class="circle jotunheim"></span>
    <span class="circle nifheim"></span>
    <span class="circle muspelheim"></span>
    <span class="circle savartalheim"></span>
    <span class="bifrost"></span>
</div>
