@rendermode InteractiveAuto

<div class="navmenu">

    <FluentNavMenu @bind-Expanded="@expanded" Width="200" Collapsible="true" Title="Collapsible demo">
        <FluentNavLink Href="/" Match="NavLinkMatch.All" Icon="@(new Icons.Regular.Size20.Home())" IconColor="Color.Accent">Home</FluentNavLink>
        @* <FluentNavLink Href="auth" Icon="@(new Icons.Regular.Size20.LockClosed())" IconColor="Color.Accent">Auth required</FluentNavLink> *@
    </FluentNavMenu>
</div>

@code {
    private bool expanded = true;

}
