@page "/"

@attribute [Authorize]
@rendermode InteractiveAuto

<PageTitle>Bifrost</PageTitle>

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Welcome to Bifrost</h1>
            <p>Use the navigation bar at the top of the page to get started.</p>
        </div>
    </div>
</div>